.slide__description{
  text-align: center;
  font-size: .8em;
}
.slick-arrow::before{
  color:#000;
}
/* BEGIN homepage-teaser */
.view-all-motorcycles .view-content{
  display: flex;
  flex-flow: row wrap;
}
.motorcycle-teaser-specs {
  display: flex;
  flex-flow: row wrap;
  width: 32%;
  min-width: 325px;
  article {
    width: 32%;
    min-width: 325px;
    .teaser-specs {
      -moz-column-count: 2;
           column-count: 2;
           margin-left: 42px;
    }
  }
}
/* END homepage-teaser */
