//manufacturer-specific colors
$yamaha: #003399;
$kawasaki: #66cc33;
$honda: #df1b21;
$ktm: #f60;
$harley: #fa6600;// or black - #000
$suzuki: #03f;// or red(ish) - #f00
$cleveland_cyclewerks: #deff00;
