/* generic styles that can be used anywwhere on the site */
.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.spacebetween {
  justify-content: space-between;
}
.spacearound {
  justify-content: space-around;
}
.plainList {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
.noMarginBottom {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
  &:visited {
    color: inherit;
  }
}
.navbar {
  background-color: white;
  margin-bottom: 5px;
  border-bottom: 2px solid #000;
}
