/* generic styles that can be used anywwhere on the site */
.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.spacebetween {
  justify-content: space-between;
}
.spacearound {
  justify-content: space-around;
}
.plainList {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
.noMarginBottom {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
  &:visited, &:hover {
    color: inherit;
  }
}
.navbar {
  background-color: white;
  margin-bottom: 5px;
  border-bottom: 2px solid #000;
}

$border-color: #eee;
$brandColors: (
  "honda": #df1b21,
  "yamaha": #039,
  "kawasaki": #66cc13,
  "ktm": #f60,
  "suzuki": #03f
  );
.teaser {
  border-color: $border-color;
  .category {
    color: darken($border-color, 30%);
  }
}
@each $brand, $color in $brandColors {
  .teaser.#{$brand} {
    border-color: $color !important;
    h3, .category {
      color: $color !important;
    }
  }
}
